.box{
  width: 45vw;
  padding: 1% 2%;
  background: #fff;
  max-height: 250px;
  box-sizing: border-box;
}

.descriptionBox{
  padding: 1% 1%;
  background: #fff;
  box-sizing: border-box;
}

.container{
  margin: 1% 1%;
  display:inline-flex;
  box-shadow: 0 2px 4px rgba(0,0,0, .2);
  box-sizing: border-box;
  border-width: 100px;
  border-color:black;
}

.container:hover{
  box-shadow:0 5px 10px rgba(0,0,0,.15);
}

.newForm * {
  position: relative;
  padding: 1% 2%;
  max-height: 50px;
  vertical-align: middle;
  left: -2%;
}

textarea {
  display: inline-block;
  margin-left: 3px;
  width: 20vw;
  resize: none;
}

label{
  display: inline-block;
  text-align: right;
  width: 10vw;
  margin-right: 1vw;
}

input {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  width: 20vw;
}